<h1 class="title">Flight Edit (Dynamic)</h1>

@if (loading()) {
  <div class="status">Loading ...</div>
}
@if (error()) {
  <h2 class="error">Error: {{ error() }}</h2>
}
@if (current()) {
  <form>
    <div>
      <input [ngModel]="current().id" name="id" />
      <input [ngModel]="current().from" name="from" />
      <input [ngModel]="current().to" name="to" />
      <input [ngModel]="current().date" name="date" />
      <input [ngModel]="current().delayed" name="delayed" type="checkbox" />
    </div>
    <div>
      <button (click)="createNew()">New</button>
      <button (click)="save()">Save</button>
      <button (click)="deleteFlight()">Delete</button>
    </div>
  </form>
}
