<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Typeahead</h2>
  </div>

  <div class="card-body">
    <div class="control-group">
      <label>City</label>
      <input [formControl]="control" class="form-control" />
    </div>

    <div *ngIf="loading">Loading ...</div>
  </div>
</div>

<ng-container  *ngIf="flights$ | async as flights">
  <div class="card" *ngIf="flights.length">
    <div class="card-body">
      <table class="table table-condensed">
        <tr *ngFor="let f of flights">
          <td>
            <span class="badge badge-pill badge-info">
              {{ f.id }}
            </span>
          </td>
          <td>{{ f.from }}</td>
          <td>{{ f.to }}</td>
          <td>{{ f.date | date : "dd.MM.yyyy HH:mm" }}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>

