<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Edit</h2>
  </div>

  <div class="card-body">

    <form [formGroup]="editForm">
      <div class="form-group">
        <label>ID:</label>
        <input formControlName="id" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label>From:</label>
        <input formControlName="from" class="form-control" />
      </div>
      <div class="form-group">
        <label>To:</label>
        <input formControlName="to" class="form-control" />
      </div>
      <div class="form-group">
        <label>Date:</label>
        <input formControlName="date" class="form-control" />
      </div>
      <div class="form-group">
        <label>
          <input formControlName="delayed" type="checkbox" />
          Delayed
        </label>
      </div>

      <div class="form-group">
        <button
          (click)="save()"
          [disabled]="!editForm.valid"
          class="btn btn-default"
        >
          Save
        </button>
      </div>
    </form>

  </div>
</div>
