<demo-sidebar-cmp>

  <div class="nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/todo">DevTools</a>
      <a mat-list-item routerLink="/flight-search">withRedux</a>
      <a mat-list-item routerLink="/flight-search-data-service-simple">withDataService (Simple)</a>
      <a mat-list-item routerLink="/flight-search-data-service-dynamic">withDataService (Dynamic)</a>
      <a mat-list-item routerLink="/flight-search-redux-connector">Redux Connector</a>

    </mat-nav-list>
  </div>

  <div class="content">
    <mat-toolbar color="primary">
      <span>NGRX Toolkit Demo</span>
    </mat-toolbar>

    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</demo-sidebar-cmp>
