<mat-toolbar color="primary">
  <button matIconButton (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>NgRx Toolkit Demo</span>
</mat-toolbar>
<mat-drawer-container class="container">
  <mat-drawer mode="side" #drawer [opened]="opened()">
    <mat-nav-list>
      <a mat-list-item routerLink="/todo">DevTools</a>
      <a mat-list-item routerLink="/flight-search">withRedux</a>
      <a mat-list-item routerLink="/flight-search-data-service-simple"
        >withDataService (Simple)</a
      >
      <a mat-list-item routerLink="/flight-search-data-service-dynamic"
        >withDataService (Dynamic)</a
      >
      <a mat-list-item routerLink="/flight-search-with-pagination"
        >withPagination</a
      >
      <a mat-list-item routerLink="/flight-search-redux-connector"
        >Redux Connector</a
      >
      <a mat-list-item routerLink="/todo-storage-sync">withStorageSync</a>
      <a mat-list-item routerLink="/todo-indexeddb-sync"
        >withStorageSync(IndexedDB)</a
      >
      <a mat-list-item routerLink="/reset">withReset</a>
      <a mat-list-item routerLink="/immutable-state">withImmutableState</a>
      <a mat-list-item routerLink="/feature-factory">withFeatureFactory</a>
      <a mat-list-item routerLink="/conditional">withConditional</a>
      <a mat-list-item routerLink="/mutation">withMutation</a>
      <a mat-list-item routerLink="/rx-mutation">rxMutation (without Store)</a>
      <a mat-list-item routerLink="/with-resource">withResource</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
